[submodule "quickDAQ"]
	path = quickDAQ
	url = git@github.com:solaremperor/quickDAQ.git
[submodule "myosyn"]
	path = myosyn
	url = git@github.com:solaremperor/myosyn.git
[submodule "tsLogger"]
	path = tsLogger
	url = git@github.com:solaremperor/tsLogger.git
