[submodule "myosyn"]
	path = myosyn
	url = git@github.com:solaremperor/myosyn.git
[submodule "tsLogger"]
	path = tsLogger
	url = git@github.com:solaremperor/tsLogger.git
[submodule "RT-bridge"]
	path = RT-bridge
	url = git@github.com:silicondosa/RT-bridge.git
